/**
 *  railsposts.com
 */

hr {
    background: #999999;
    height: 1px;
}

/* links */

a:link {
    color: #00f;
    text-decoration: none;
}

a:visited {
    color: #00a;
    text-decoration: none;
}

a:hover {
    color: #f60;
    text-decoration: underline;
}

a:active {
    color: #f60;
    text-decoration: underline;
}

/* wrapper */

#wrapper {
    margin: 0 auto;
    width: 910px;
    color: #000000;
    font-family: 'Lucida Grande',Geneva,Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
}

/* header */

#header {
    padding: 35px 50px 15px 140px;
    margin: 0 30px 0 20px;
    border-bottom: 1px solid #999999; /* #A1A5A9 */
}

#header h1 {
    display: none;
}

#logo {
    float: left;
}

#tagline {
    ddisplay: none;
    float: left;
    /* color: #777777; */
    /* font-weight: bold; */
    font-style: italic;
    margin: 12px 0 0 20px;
}

/* content */

#content {
    padding-top: 20px;
}

#content #posts .post .datetime {
    color: #333333;
    float: left;
    width: 140px;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 20px;
    text-align: right;
}

#content #posts .post .datetime .result {
    color: #777777;
}

#content #posts .post .main {
    float: left;
    width: 460px;
    position: relative;
}

#content #posts .post .main .loading {
    position: absolute;
    left: -14px;
}

#content #posts .post .main .loading img {
    vertical-align: text-bottom;
    position: relative;
    bottom: 1px;
}

#content #posts .post span[class="title current"] a {
    color: #f60;
}

#content #posts .post .points {
    color: #777;
    font-size: xx-small;
    vertical-align: text-bottom;
}

#content #posts .post .source {
    float: left;
    font-size: 10px;
    width: 90px;
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
    margin-top: 2px;
}

#content #posts .post span[class="source current"] a {
    font-weight: bold
}

#content #posts .post .source a {
    color: #777777;
    padding-right: 5px;
}

#content #posts .post .summary {
    font-size: 12px;
    background-color: #F6F6F6;
    padding: 10px 10px 10px 10px;
    margin: 10px 5px 10px 160px;
    border: 1px dashed #CCCCCC;
    max-height: 200px;
    overflow: auto;
}

#content #posts .post .summary * {
    font-size: 12px;
}

#content #posts .post .summary h1,
#content #posts .post .summary h2,
#content #posts .post .summary h3,
#content #posts .post .summary h4 {
    font-weight: bold;
}

/* navigation bar */

#navbar {
    margin: 15px 0 0 20px;
    padding: 5px 0 10px;
    border-left: 1px solid #999999;
}

#navbar ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0 12px 0 25px;
}

#navbar ul li.current {
    background-color: #E0E0E0;
}

#navbar ul li a {
    padding: 2px 10px;
}

#navbar ul li.current a {
    color: #222;
}

/* pagination */

.pagination {
    color: #555555;
    margin-left: 22px;
    position: relative;
}

.pagination .loading {
    position: absolute;
    left: 114px;
}

.pagination .loading img {
    vertical-align: text-bottom;
    position: relative;
    bottom: 1px;
}

.pagination .end {
    font-size: smaller;
}

/* footer */

#footer {
    font-size: 10px;
    padding: 10px 50px 25px 140px;
    margin: 15px 30px 0 20px;
    border-top: 1px solid #999999;
    text-align: right;
}

#footer .tools {
    position: relative;
    right: -50px;
}

/* flash messages */

#flash_notice, #flash_error {
    padding: 5px 8px;
    margin: 10px 0;
}

#flash_notice {
    background-color: #CFC;
    border: solid 1px #6C6;
}

#flash_error {
    background-color: #FCC;
    border: solid 1px #C66;
}

.fieldWithErrors {
    display: inline;
}

#errorExplanation {
    width: 400px;
    border: 2px solid #CF0000;
    padding: 0px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px;
}

#errorExplanation ul {
    margin: 2px 24px;
}

#errorExplanation ul li {
    font-size: 12px;
    list-style: disc;
}
