<%- title "popular posts" -%>
<%- javascript :defaults -%>

<div id="posts" class="clearfix">
  <%= render :partial => @posts %>
</div>

<div id="pagination" class="pagination clearfix">
  <% if @posts.current_page < @posts.total_pages %>
    <%= render :partial => "more", :locals => { :page => @posts.current_page + 1 } %>
  <% else %>
    <hr class="space" />
    <div class="end">
      End of messages
    </div>
  <% end %>
</div>
